.container-experiecia section{
  margin:  0.8rem 0;
}

.container-experiecia h2,
aside h2{
  margin-bottom: 1.2rem;
  padding: 0.8rem;
  font-size: var(--font-size-x);
  color: var(--color-font-secondary);
  background-color: var(--color-background-tags);
}

.container-experiecia a{
  cursor: pointer;

}




 .formacion,
 .capacitaciones,
 .habilidades__list{
  margin: 1.2rem 0.8rem;
}

.habilidades__list{
  display: flex;
  justify-content: space-between;  
}

.habilidades__list li{
  line-height: 2rem;
}
.contenedor-qr h2{
  text-align: start;
}
.contenedor-qr {
  text-align: center;
}
.contenedor-qr figure{
  display: flex;
  justify-content: center; 
  
  
}

.contenedor-qr__img{
  padding: 0.4rem;
  margin-bottom: 0.4rem;
  border: 2px dashed #000;
  border-radius: 1.5rem;
}

.contenedor-qr__url{
  width: 100%;
  
  margin: 0 0.8rem;
  word-wrap: break-word; 
}