.continer-main{
  display:grid;
  place-content: center;
}

header,
main
{
  max-width: 720px;
  display: grid;
  gap: 1.4rem;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  
}

header,
footer,
main{
  grid-column: 1/6;
  padding: 0;
  margin: 0;
  
}

.container-header{
  grid-column: 1/4;
}

.container-img, aside{
  grid-column: 4/6;
  
}
.container-experiecia{
  grid-column: 1/4;

}

.img-profile{
  
  height: 223px;
  object-fit: contain;
  
}
aside{
  margin: 0;
  padding: 0; 
}
.contenedor-qr__img{
  width: 150px;
}

footer ul{
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 0;

  
}
h2{
  border-radius: 0.8rem;
  font-size: var(--font-size-l);
}
